:root {
  //--emoji-background-image: url("https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/emoji-datasource-apple/15.1.2/img/apple/sheets-128/64.png");
  //--emoji-background-image-cols: 62;
  --p-emoji-size: 32px;
  --p-width: 390px;
  --p-border-radius: 12px;
  --p-scroll-bar-width: 4px;
  --p-header-box-height: 40px;
  --p-header-btn-height: 34px;
  --p-color-header: #f1f1f1;
  --p-color-search-input: #fff;
  --p-color-skins-background: rgba(255,255,255,.5);
  --p-color-background: #fff;
  --p-color-border: #e5e5e5;
  --p-color-scroll-bar: #c1c1c1;
  --p-color-text-default: #333;
  --p-color-text-primary: #8774e1;
  --p-color-text-secondary: #888;
  --p-box-shadow: 0px 0px 12px rgba(0, 0, 0, .12);

  --p-icon-search: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M6.656 14q0-1.375 0.531-2.594t1.438-2.125 2.125-1.438q1.188-0.5 2.594-0.5 1.375 0 2.594 0.5 1.219 0.531 2.109 1.438t1.422 2.125 0.531 2.594-0.531 2.594-1.422 2.125-2.109 1.438q-1.219 0.5-2.594 0.5-1.406 0-2.594-0.5-1.219-0.531-2.125-1.438t-1.438-2.125-0.531-2.594v0M13.344 4.656q-1.938 0-3.656 0.75-1.688 0.719-2.953 1.984t-2.016 2.984q-0.719 1.688-0.719 3.625t0.719 3.625q0.75 1.719 2.016 2.984t2.953 1.984q1.719 0.75 3.656 0.75 1.563 0 2.984-0.5t2.609-1.375q0.031 0.031 0.063 0.063t0.063 0.094l6.656 6.656q0.406 0.375 0.953 0.375t0.953-0.375q0.375-0.406 0.375-0.953t-0.375-0.953l-6.688-6.656q-0.031-0.031-0.063-0.063t-0.063-0.063q0.875-1.156 1.359-2.594t0.484-3q0-1.938-0.719-3.625-0.75-1.719-2.016-2.984t-2.953-1.984q-1.688-0.75-3.625-0.75v0z"></path></svg>');
  --p-icon-close: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path xmlns="http://www.w3.org/2000/svg" d="M23.063 7.719q0.375-0.375 0.938-0.375t0.938 0.375q0.406 0.406 0.406 0.953t-0.406 0.953l-7.063 7.031 7.063 7.063q0.406 0.406 0.406 0.953t-0.406 0.953q-0.375 0.375-0.938 0.375t-0.938-0.375l-7.063-7.063-7.063 7.063q-0.375 0.375-0.938 0.375t-0.938-0.375q-0.406-0.406-0.406-0.953t0.406-0.953l7.063-7.063-7.063-7.031q-0.406-0.406-0.406-0.953t0.406-0.953q0.375-0.375 0.938-0.375t0.938 0.375l7.063 7.063 7.063-7.063z"/></svg>');
  --p-icon-backspace: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"><path d="M26.7,3.7H14c-3.6,0-5.6,2.7-7.8,4.9s-5.5,5.7-5.5,5.7c-0.4,0.4-0.6,1-0.6,1.6c0,0.6,0.2,1.2,0.6,1.6c0,0,2.6,2.9,5.5,5.8 c2.9,2.9,4.4,5,7.8,5h12.7c3,0,5.3-2.5,5.3-5.5V9C32,6,29.7,3.7,26.7,3.7z M25.3,20.1c0.5,0.5,0.5,1.3,0,1.7c-0.5,0.5-1.3,0.5-1.7,0 l-4.1-4.1l-4.1,4.1c-0.5,0.5-1.3,0.5-1.7,0c-0.5-0.5-0.5-1.2,0-1.7l4.1-4.1l-4.1-4.1c-0.5-0.5-0.5-1.2,0-1.7c0.5-0.5,1.3-0.5,1.7,0 l4.1,4.1l4.1-4.1c0.5-0.5,1.3-0.5,1.7,0c0.5,0.5,0.5,1.3,0,1.7L21.3,16C21.3,16,25.3,20.1,25.3,20.1z"/></svg>');

  --p-icon-recently-used: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 2q3.031 0 5.719 1.156 2.656 1.156 4.656 3.141t3.125 4.672q1.156 2.656 1.156 5.688 0 3.063-1.156 5.719-1.125 2.688-3.125 4.672t-4.656 3.141q-2.688 1.156-5.719 1.156t-5.719-1.156q-2.656-1.156-4.656-3.141t-3.125-4.672q-1.156-2.656-1.156-5.719 0-3.031 1.156-5.688 1.125-2.688 3.125-4.672t4.656-3.141q2.688-1.156 5.719-1.156M16 4.656q-2.5 0-4.656 0.969-2.188 0.938-3.828 2.563t-2.578 3.813-0.938 4.656q0 2.5 0.938 4.688t2.578 3.813 3.828 2.563q2.156 0.938 4.656 0.938t4.656-0.938q2.188-0.938 3.828-2.563t2.578-3.813 0.938-4.688q0-2.469-0.938-4.656t-2.578-3.813-3.828-2.563q-2.156-0.969-4.656-0.969M16 7.344q0.5 0 0.891 0.328t0.422 0.828l0.031 0.156v7.406l5.406 4.938q0.438 0.375 0.453 0.938t-0.359 0.969q-0.344 0.375-0.844 0.422t-0.906-0.234l-0.125-0.094-5.438-4.938q-0.375-0.344-0.594-0.797t-0.25-0.953l-0.031-0.25v-7.406q0-0.531 0.391-0.922t0.953-0.391v0z"></path></svg>');
  --p-icon-smileys-and-emotion: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M4 16.656q0-2.469 0.938-4.656t2.578-3.813 3.828-2.563q2.156-0.969 4.656-0.969t4.656 0.969q2.188 0.938 3.828 2.563t2.578 3.813 0.938 4.656q0 2.5-0.938 4.688t-2.578 3.813-3.828 2.563q-2.156 0.938-4.656 0.938t-4.656-0.938q-2.188-0.938-3.828-2.563t-2.578-3.813-0.938-4.688M16 2q-3.031 0-5.719 1.156-2.656 1.156-4.656 3.141t-3.125 4.672q-1.156 2.656-1.156 5.688 0 3.063 1.156 5.719 1.125 2.688 3.125 4.672t4.656 3.141q2.688 1.156 5.719 1.156t5.719-1.156q2.656-1.156 4.656-3.141t3.125-4.672q1.156-2.656 1.156-5.719 0-3.031-1.156-5.688-1.125-2.688-3.125-4.672t-4.656-3.141q-2.688-1.156-5.719-1.156M10.594 19.406q-0.25-0.469-0.75-0.625t-0.969 0.094q-0.469 0.219-0.625 0.719t0.094 0.969q1.063 2.094 3.109 3.406t4.547 1.313 4.547-1.313 3.109-3.375q0.25-0.469 0.078-0.969t-0.641-0.75q-0.438-0.25-0.938-0.078t-0.75 0.641q-0.75 1.469-2.203 2.375t-3.203 0.906q-1.781 0-3.219-0.906t-2.188-2.406v0M13.344 13.344q0 0.813-0.5 1.406t-1.188 0.594-1.172-0.594-0.484-1.406q0-0.844 0.484-1.422t1.172-0.578 1.188 0.578 0.5 1.422v0M20.344 15.344q0.688 0 1.172-0.594t0.484-1.406q0-0.844-0.484-1.422t-1.172-0.578-1.188 0.578-0.5 1.422q0 0.813 0.5 1.406t1.188 0.594z"></path></svg>');
  --p-icon-people-and-body: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M19.8,15.5h-7.3c-4.7,0-8.6,3.8-8.6,8.6v3.7c0,2,1.6,3.7,3.7,3.7h17.1c2,0,3.7-1.6,3.7-3.7V24 C28.3,19.3,24.5,15.5,19.8,15.5z M25.9,27.7c0,0.7-0.5,1.2-1.2,1.2H7.5c-0.7,0-1.2-0.5-1.2-1.2V24c0-3.4,2.7-6.1,6.1-6.1h7.3 c3.4,0,6.1,2.7,6.1,6.1V27.7z M16.1,14.2c3.4,0,6.1-2.7,6.1-6.1S19.5,2,16.1,2S10,4.7,10,8.1S12.7,14.2,16.1,14.2z M16.1,4.4 c2,0,3.7,1.6,3.7,3.7s-1.6,3.7-3.7,3.7s-3.7-1.6-3.7-3.7S14.1,4.4,16.1,4.4z"></path></svg>');
  --p-icon-animals-and-nature: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M25.094 2.688q1.125 0 2.031 0.875t1.469 2.359 0.719 3.484q0.125 2-0.25 4.219 0.25 0.688 0.469 1.406t0.406 1.438l0.531-0.094q0.531-0.125 0.969 0.188t0.531 0.844q0.094 0.5-0.156 0.922t-0.719 0.547l-0.781 0.156v0.219q-0.031 0.594-0.141 1.172t-0.266 1.109h0.781q0.563 0 0.938 0.391t0.375 0.922q0 0.5-0.328 0.875t-0.828 0.406l-0.156 0.031h-2.063q-0.969 1.406-2.344 2.625-1.406 1.188-3.063 2.047t-3.5 1.328q-1.844 0.5-3.719 0.5t-3.719-0.5q-1.844-0.469-3.5-1.328t-3.063-2.047q-1.375-1.219-2.344-2.625h-2.063q-0.563 0-0.938-0.391t-0.375-0.922q0-0.5 0.328-0.859t0.828-0.422l0.156-0.031h0.781q-0.188-0.594-0.297-1.219t-0.109-1.281l-0.625-0.125q-0.531-0.094-0.828-0.531t-0.203-0.969q0.094-0.5 0.484-0.797t0.891-0.266l0.125 0.031 0.531 0.094q0.188-0.719 0.406-1.438t0.469-1.406q-0.375-2.125-0.156-4.094 0.219-2 0.828-3.516t1.453-2.422q0.875-0.906 1.844-0.906 0.375 0 0.672 0.141t0.703 0.484l0.344 0.313 1.563 1.5 0.375 0.344q0.313 0.25 0.547 0.453t0.422 0.328l0.25 0.125 0.094 0.063q1.25-0.281 2.109-0.391t2.016-0.109q1.031 0 1.828 0.094t1.891 0.313l0.375 0.094 0.063-0.031 0.156-0.094q0.156-0.094 0.391-0.266t0.516-0.391l0.219-0.219q0.125-0.094 0.266-0.234t0.297-0.266l1.375-1.313 0.344-0.313q0.406-0.344 0.703-0.484t0.672-0.141v0M25.281 5.406l-0.156 0.125-1.219 1.156-0.563 0.531-0.438 0.406q-1.031 0.875-1.797 1.234t-1.516 0.141q-1.125-0.281-1.859-0.375t-1.734-0.094-1.719 0.094-1.844 0.344q-0.781 0.25-1.563-0.109t-1.781-1.234l-0.469-0.406-0.438-0.406-1.281-1.25q-0.219 0.281-0.438 0.625t-0.406 0.781q-0.594 1.281-0.734 2.922t0.234 3.609l0.094 0.375-0.281 0.656q-0.219 0.594-0.406 1.219t-0.344 1.188l3.813 0.719q0.531 0.094 0.828 0.547t0.203 0.984q-0.094 0.5-0.484 0.797t-0.891 0.266l-0.125-0.031-3.656-0.688q0.063 0.531 0.203 1.031t0.359 0.969h3.313q0.531 0 0.922 0.391t0.391 0.922q0 0.5-0.328 0.875t-0.828 0.406l-0.156 0.031h-1.469q0.875 0.844 1.938 1.563t2.266 1.234 2.484 0.797q1.281 0.313 2.594 0.313t2.594-0.313q1.281-0.281 2.484-0.797t2.266-1.234 1.938-1.563h-1.469q-0.531 0-0.922-0.391t-0.391-0.922q0-0.5 0.328-0.859t0.828-0.422l0.156-0.031h3.313q0.219-0.469 0.359-0.969t0.203-1.031l-3.656 0.688q-0.5 0.094-0.953-0.203t-0.547-0.828q-0.094-0.5 0.156-0.922t0.719-0.578l0.156-0.031 3.813-0.719q-0.156-0.563-0.344-1.188t-0.406-1.219l-0.281-0.656 0.094-0.375q0.406-2.031 0.313-3.703t-0.563-2.891q-0.219-0.5-0.438-0.859t-0.406-0.547l-0.063-0.094M15.438 18.938h1.344l0.156 0.031 0.125 0.031 0.156 0.063 0.063 0.031 0.063 0.063 0.094 0.063 0.125 0.094q0.031 0.031 0.063 0.078t0.063 0.078l0.063 0.094q0.031 0.031 0.047 0.063t0.047 0.063l0.031 0.125 0.063 0.156v0.406l-0.031 0.188-0.594 1.781 0.031 0.094q0.094 0.188 0.25 0.297t0.344 0.109q0.281 0 0.469-0.188t0.188-0.469q0-0.531 0.391-0.906t0.922-0.375 0.906 0.375 0.375 0.906q0 1.344-0.938 2.297t-2.313 0.953q-0.531 0-1.031-0.172t-0.906-0.484q-0.406 0.313-0.906 0.484t-1.031 0.172q-1.375 0-2.328-0.953t-0.953-2.297q0-0.531 0.391-0.906t0.922-0.375 0.922 0.375 0.391 0.906q0 0.281 0.188 0.469t0.469 0.188q0.188 0 0.344-0.109t0.25-0.297l0.031-0.094-0.531-1.594q-0.188-0.531 0.063-1.047t0.781-0.703l0.156-0.031h0.094l0.188-0.031M20.563 13.75q0.813 0 1.375 0.563t0.563 1.375-0.563 1.391-1.375 0.578-1.391-0.578-0.578-1.391 0.578-1.375 1.391-0.563M11.438 13.75q0.813 0 1.391 0.563t0.578 1.375-0.578 1.391-1.391 0.578-1.375-0.578-0.563-1.391 0.563-1.375 1.375-0.563M20.188 6.469l-0.094-0.031h0.063l0.031 0.031z"></path></svg>');
  --p-icon-food-and-drink: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M10.906 2.594q0.313-0.469 0.859-0.563t0.984 0.219q0.781 0.531 1.531 1.266t1.438 1.672q0.219 0.313 0.422 0.578t0.359 0.547q0.156-0.281 0.391-0.609t0.516-0.672q0.969-1.125 2.297-1.797t3.047-0.859q-0.219 1.125-0.609 2.094t-0.984 1.75l0.188-0.031q1.438-0.125 2.641 0.156t2.203 1.063l0.5 0.469q2.594 2.281 3.406 5.813 0.781 3.531 0.047 7.063t-2.891 6.469-5.5 4.031l-0.125 0.063q-1.031 0.219-1.797 0.188t-1.609-0.313l-0.781-0.281q-0.438-0.125-0.734-0.188t-0.703-0.063-0.703 0.063-0.734 0.188l-0.781 0.281q-0.844 0.281-1.609 0.313t-1.797-0.188l-0.125-0.063q-3.406-1.125-5.563-4.125t-2.828-6.594 0.297-7.156q0.938-3.563 3.781-5.813 1.813-1.219 3.453-1.391t3.734 0.422l0.406 0.094q-0.563-0.719-1.141-1.297t-1.141-0.953q-0.469-0.313-0.563-0.859t0.219-0.984v0M7.5 9.719q-2.156 1.719-2.875 4.563-0.688 2.844-0.156 5.75t2.25 5.344q1.688 2.438 4.313 3.344 0.594 0.125 1 0.109t0.906-0.172l0.844-0.281q0.594-0.188 1.094-0.281t1.125-0.094 1.125 0.094 1.094 0.281l0.844 0.281q0.406 0.125 0.781 0.156t0.844-0.031l0.281-0.063 0.313-0.125q2.5-0.969 4.094-3.344 1.625-2.375 2.188-5.203t-0.063-5.609q-0.594-2.781-2.563-4.563l-0.438-0.375q-0.563-0.438-1.266-0.594t-1.609-0.063q-0.438 0.063-0.922 0.156t-1.141 0.281l-1.625 0.406-0.469 0.125q-0.438 0.094-0.703 0.141t-0.547 0.047h-0.375q-0.406 0-0.75-0.063t-1-0.281l-1.406-0.406q-1.688-0.5-2.828-0.422t-2.359 0.891v0z"></path></svg>');
  --p-icon-travel-and-places: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M30.656 27.344q0 1.656-1.172 2.828t-2.828 1.172-2.828-1.172-1.172-2.828h-13.313q0 1.656-1.172 2.828t-2.828 1.172q-1.594 0-2.75-1.094t-1.25-2.688v-9.594q0-0.75 0.125-1.5t0.344-1.469l2.375-7.031q0.688-2.063 2.328-3.484t3.766-1.828q1.781-0.313 3.203-0.484t2.516-0.172 2.516 0.172 3.203 0.484q2.125 0.406 3.766 1.828t2.328 3.484l2.375 7.031q0.219 0.719 0.344 1.469t0.125 1.5v9.375M4 26.625v0.719q0 0.531 0.391 0.922t0.953 0.391q0.5 0 0.875-0.328t0.438-0.828v-0.156q-0.719 0-1.391-0.188t-1.266-0.531v0M25.344 27.344q0 0.531 0.391 0.922t0.922 0.391q0.563 0 0.953-0.391t0.391-0.922v-0.719q-0.594 0.344-1.266 0.531t-1.391 0.188v0M27.656 15.844l-0.313-0.875q-0.344 0.188-0.719 0.297t-0.75 0.141h-19.438q-0.469 0-0.922-0.109t-0.859-0.328l-0.313 0.875q-0.156 0.531-0.25 1.063t-0.094 1.063v4.031q0 1.094 0.781 1.875t1.875 0.781h18.688q1.094 0 1.875-0.781t0.781-1.875v-4.031q0-0.531-0.094-1.063t-0.25-1.063v0 0M8.656 18q0.844 0 1.422 0.578t0.578 1.422-0.578 1.422-1.422 0.578q-0.813 0-1.406-0.578t-0.594-1.422 0.594-1.422 1.406-0.578M23.344 18q0.813 0 1.406 0.578t0.594 1.422-0.594 1.422-1.406 0.578q-0.844 0-1.422-0.578t-0.578-1.422 0.578-1.422 1.422-0.578M16 4.656q-0.969 0-2.266 0.156t-2.953 0.469q-1.406 0.281-2.5 1.234t-1.563 2.297l-1.188 3.563q0.156 0.156 0.344 0.25t0.406 0.094l0.156 0.031h9.75q0.406-1.469 1.641-2.438t2.828-0.969q1.625 0 2.859 0.969t1.641 2.438h0.406q0.219 0 0.422-0.078t0.391-0.203l0.094-0.094-1.188-3.563q-0.469-1.344-1.563-2.297t-2.5-1.234q-1.656-0.313-2.953-0.469t-2.266-0.156v0M20.656 12q-0.469 0-0.875 0.203t-0.656 0.547h3.094q-0.281-0.344-0.688-0.547t-0.875-0.203v0z"></path></svg>');
  --p-icon-activities: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 2q3.031 0 5.719 1.156 2.656 1.156 4.656 3.141t3.125 4.672q1.156 2.656 1.156 5.688 0 3.063-1.156 5.719-1.125 2.688-3.125 4.672t-4.656 3.141q-2.688 1.156-5.719 1.156t-5.719-1.156q-2.656-1.156-4.656-3.141t-3.125-4.672q-1.156-2.656-1.156-5.719 0-3.031 1.156-5.688 1.125-2.688 3.125-4.672t4.656-3.141q2.688-1.156 5.719-1.156M19.781 5.281l-3.094 1.875q-0.281 0.156-0.594 0.172t-0.625-0.109l-0.156-0.063-3.094-1.875q-1.719 0.563-3.188 1.609t-2.531 2.453q0.031 0.063 0.047 0.109t0.047 0.109l0.031 0.125 0.656 2.656q0.094 0.313 0.031 0.609t-0.25 0.516l-0.125 0.156-2.656 2.656q-0.063 0.063-0.141 0.109t-0.141 0.109v0.156q0 2.313 0.813 4.359t2.25 3.641h2.938q0.344 0 0.656 0.172t0.5 0.484l1.75 2.969q0.75 0.188 1.516 0.281t1.578 0.094 1.578-0.094 1.516-0.281l1.75-2.969q0.156-0.25 0.422-0.422t0.547-0.203l0.188-0.031h2.938q1.438-1.594 2.25-3.641t0.813-4.359v-0.156q-0.063-0.063-0.141-0.109t-0.141-0.109l-2.656-2.656q-0.25-0.25-0.344-0.594t0-0.688l0.656-2.656q0.031-0.094 0.063-0.188t0.063-0.156q-1-1.313-2.344-2.313t-2.938-1.594l-0.438-0.156M16.813 10.281l5.313 4q0.375 0.25 0.5 0.703t-0.063 0.891l-2.688 6q-0.156 0.375-0.484 0.578t-0.734 0.203h-5.313q-0.406 0-0.734-0.203t-0.484-0.578l-2.688-6q-0.188-0.438-0.063-0.891t0.5-0.703l5.313-4q0.375-0.281 0.813-0.281t0.813 0.281v0M16 13l-3.688 2.75 1.875 4.25h3.625l1.875-4.25-3.688-2.75z"></path></svg>');
  --p-icon-objects: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 2q2.5 0 4.656 0.938 2.188 0.938 3.828 2.578t2.578 3.828q0.938 2.156 0.938 4.656 0 1.563-0.438 3-0.406 1.406-1.25 2.672t-2.094 2.391q-1.25 1.094-2.875 2.063v3.219q0 1.656-1.172 2.828t-2.828 1.172h-2.688q-1.656 0-2.828-1.172t-1.172-2.828v-3.219l-0.406-0.25q-1.531-0.938-2.719-2.031-1.156-1.094-1.938-2.328t-1.188-2.609-0.406-2.906q0-2.5 0.938-4.656 0.938-2.188 2.578-3.828t3.828-2.578q2.156-0.938 4.656-0.938v0M13.344 27.344q0 0.531 0.391 0.922t0.922 0.391h2.688q0.531 0 0.922-0.391t0.391-0.922h-5.313M16 4.656q-1.938 0-3.625 0.75-1.719 0.719-2.984 1.984t-1.984 2.984q-0.75 1.688-0.75 3.625 0 1.25 0.375 2.375t1.109 2.141 1.859 1.922 2.625 1.719q0.313 0.188 0.516 0.5t0.203 0.688v1.313h5.313v-1.313q0-0.375 0.203-0.688t0.516-0.5q1.5-0.813 2.625-1.719t1.859-1.922 1.109-2.141 0.375-2.375q0-1.938-0.75-3.625-0.719-1.719-1.984-2.984t-2.984-1.984q-1.688-0.75-3.625-0.75v0M16 15.125l3.25-2.219q0.438-0.313 0.984-0.219t0.859 0.563q0.281 0.406 0.219 0.906t-0.438 0.844l-0.125 0.094-3.406 2.344v3.219q0 0.531-0.344 0.906t-0.844 0.438h-0.156q-0.5 0-0.891-0.344t-0.422-0.844l-0.031-0.156v-3.219l-3.406-2.344q-0.438-0.281-0.547-0.766t0.109-0.953l0.094-0.125q0.281-0.438 0.766-0.547t0.953 0.109l0.125 0.094 3.25 2.219z"></path></svg>');
  --p-icon-symbols: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16.531 20.156l-2.75-2.75 0.031-0.031q0.875-0.969 1.625-2 0.75-1.063 1.359-2.156t1.109-2.219q0.5-1.156 0.844-2.344h2.594q0.531 0 0.922-0.391t0.391-0.922q0-0.563-0.391-0.953t-0.922-0.391h-8v-1.344q0-0.531-0.391-0.922t-0.953-0.391-0.953 0.391-0.391 0.922v1.344h-8q-0.531 0-0.922 0.391t-0.391 0.922q0 0.563 0.391 0.953t0.922 0.391h13.563q-0.656 1.938-1.719 3.734t-2.5 3.422q-0.719-0.813-1.328-1.641t-1.141-1.734l-0.25-0.406q-0.156-0.344-0.469-0.516t-0.688-0.172h-0.531q-0.344 0-0.594 0.234t-0.25 0.578q0 0.125 0.031 0.219t0.063 0.188l0.125 0.219q0.656 1.219 1.469 2.391t1.781 2.234l-5.813 5.75q-0.375 0.375-0.406 0.875t0.281 0.875l0.094 0.156q0.406 0.375 0.953 0.375t0.953-0.375l5.719-5.719 3.125 3.125q0.281 0.25 0.656 0.25t0.656-0.25q0.063-0.094 0.125-0.172t0.094-0.172l0.188-0.563q0.156-0.375 0.063-0.75t-0.375-0.656v0M23.75 14h-0.813q-0.438 0-0.781 0.234t-0.469 0.641l-5.219 13.875q-0.125 0.375 0.031 0.719t0.5 0.469q0.094 0.031 0.172 0.047t0.172 0.016h0.406q0.406 0 0.75-0.234t0.5-0.641l1.156-3.125h6.344l1.188 3.125q0.125 0.406 0.469 0.641t0.781 0.234h0.406q0.375 0 0.641-0.266t0.266-0.672q0-0.063-0.016-0.141t-0.047-0.172l-5.188-13.875q-0.156-0.406-0.5-0.641t-0.75-0.234v0M23.344 17.563l2.156 5.781h-4.313l2.156-5.781z"></path></svg>');
  --p-icon-flags: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M15.625 4.656l0.719 0.375q1.875 0.969 4.016 1.078t4.141-0.672l1.688-0.656q0.656-0.281 1.234 0.109t0.578 1.109v13.375q0 0.406-0.234 0.75t-0.609 0.5l-1.688 0.656q-1.25 0.5-2.594 0.719t-2.672 0.141-2.641-0.422q-1.281-0.375-2.5-1l-0.719-0.375q-1.813-0.938-3.828-0.969t-3.859 0.844v9.781q0 0.563-0.391 0.953t-0.922 0.391-0.906-0.344-0.438-0.844v-24.156q0-0.094 0.016-0.172t0.016-0.141l0.063-0.188q0.094-0.219 0.281-0.422t0.438-0.297l0.438-0.219q1.25-0.625 2.563-0.938 1.313-0.281 2.656-0.281t2.656 0.344q1.313 0.313 2.5 0.969v0M6.656 6.844v10.5l0.406-0.156q2.125-0.625 4.344-0.422t4.219 1.234l0.719 0.375q1.875 1 4.016 1.109t4.141-0.703l0.844-0.313v-10.5l-0.406 0.156q-1.219 0.406-2.5 0.563-1.25 0.188-2.516 0.078t-2.484-0.453q-1.25-0.344-2.375-0.938l-0.719-0.406q-1.781-0.906-3.813-0.953t-3.875 0.828v0z"></path></svg>');
}

.p-theme-dark{
  --p-color-header: #1f1f1f;
  --p-color-search-input: #373737;
  --p-color-skins-background: rgba(32,32,32,.7);
  --p-color-background: #202020;
  --p-color-border: rgba(255, 255, 255, 0.1);
  --p-color-scroll-bar: #313131;
  --p-color-text-default: #fff;
  --p-color-text-primary: #8774e1;
  --p-color-text-secondary: #999;
  --p-box-shadow: 0 0 12px rgba(0, 0, 0, .86);
}

.emoji {
  background-image: var(--emoji-background-image);
  background-size: calc(100% * var(--emoji-background-image-cols));
  display: inline-block;
  height: 1.20em;
  width: 1.20em;
  pointer-events: none;
  line-height: 1em;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  &._{
    background: none;
  }
}

.p-emoji-picker {
  width: var(--p-width);
  border-radius: var(--p-border-radius);
  overflow: hidden;
  background-color: var(--p-color-background);
  font-family: "Roboto", -apple-system, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  box-shadow: var(--p-box-shadow);
  border: solid 1px var(--p-color-border);
  // padding-bottom: env(safe-area-inset-bottom);
  z-index: 9999;
}

.p-emoji-arrow{
  --arrow-size: 16px;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-100%);
  border-bottom: solid var(--arrow-size) red;
  border-left: solid var(--arrow-size) transparent;
  border-right: solid var(--arrow-size) transparent;
}

.p-emoji-scroll::-webkit-scrollbar {
  background-color: var(--p-color-background);
  width: var(--p-scroll-bar-width);
  height: var(--p-scroll-bar-width);
}

.p-emoji-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: var(--p-scroll-bar-width);
}

.p-emoji-scroll:hover::-webkit-scrollbar-thumb {
  background-color: var(--p-color-scroll-bar);
}

.p-emoji-header {
  position: relative;
  background-color: var(--p-color-header);
  overflow: hidden;
  height: var(--p-header-box-height);
  border-bottom: solid 1px var(--p-color-border);
  &.is-active {
    .p-emoji-header-button-group{
      transform: translateY(-100%);
      opacity: 0;
    }
    .p-emoji-header-search-wrapper {
      transform: translateY(-100%);
      opacity: 1;
    }
  }
  &>div {
    flex: 1;
    height: var(--p-header-box-height);
  }
}
.p-emoji-header-button-group {
  flex: 1;
  padding: 0 5px;
  height: var(--p-header-box-height);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s;
}
.p-emoji-header-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  max-width: var(--p-header-btn-height);
  flex: 1;
  height: var(--p-header-btn-height);
  border: 0;
  border-radius: var(--p-border-radius);
  cursor: pointer;
  -webkit-user-select: none;
  transition: all .3s ease;
  background-color: transparent;
  &:before{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    border-radius: inherit;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: calc(var(--p-header-btn-height) * 0.65) calc(var(--p-header-btn-height) * 0.65);
    -webkit-mask-position: center;
    background-color: var(--p-color-text-secondary);
  }
  &:hover{
    background-color: rgba(255,255,255,0.1);
  }
  &.active:before {
    background-color: var(--p-color-text-primary);
  }

  &.backspace{
    margin-left: 10px;
    &:before{
      -webkit-mask-image: var(--p-icon-backspace);
    }
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      left: -6px;
      height: 50%;
      transform: translateY(-50%);
      border-left: solid 1px rgba(0,0,0,.1);
      border-right: solid 1px rgba(255,255,255,.1);
    }
  }
}

.p-emoji-header-search-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 5px;
  height: var(--p-header-box-height);
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.3s;
  opacity: 0;
}

.p-emoji-search-input {
  position: relative;
  display: block;
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  height: calc(var(--p-header-btn-height) * 0.9);
  border-radius: var(--p-border-radius);
  background-color: var(--p-color-search-input);
  color: var(--p-color-text-secondary);
  border: none;
  outline: none;
  font-size: 14px;
  // font-weight: bold;
  &::placeholder{
    color: var(--p-color-text-secondary);
  }
}

.p-emoji-no-data{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: var(--p-color-text-secondary);
  opacity: 0.5;
}

[data-title='Close']:before{-webkit-mask-image: var(--p-icon-close);}
[data-title="Search"]:before {-webkit-mask-image: var(--p-icon-search);}

[data-title="Recently Used"]:before {-webkit-mask-image: var(--p-icon-recently-used);}
[data-title="Smileys & Emotion"]:before {-webkit-mask-image: var(--p-icon-smileys-and-emotion);}
[data-title="People & Body"]:before {-webkit-mask-image: var(--p-icon-people-and-body);}
[data-title='Animals & Nature']:before{-webkit-mask-image: var(--p-icon-animals-and-nature);}
[data-title='Food & Drink']:before{-webkit-mask-image: var(--p-icon-food-and-drink);}
[data-title='Travel & Places']:before{-webkit-mask-image: var(--p-icon-travel-and-places);}
[data-title='Activities']:before{-webkit-mask-image: var(--p-icon-activities);}
[data-title='Objects']:before{-webkit-mask-image: var(--p-icon-objects);}
[data-title='Symbols']:before{-webkit-mask-image: var(--p-icon-symbols);}
[data-title='Flags']:before{-webkit-mask-image: var(--p-icon-flags);}


.p-emoji-row {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
}
.p-emoji-col {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--p-emoji-size) * 0.9);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  opacity: 1; // test
  transition: background-color .3s ease;
  border-radius: var(--p-border-radius);
  .emoji{
    width: var(--p-emoji-size);
    height: var(--p-emoji-size);
  }
  &.arrow{
    border-radius: var(--p-border-radius) var(--p-border-radius) 0;
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border: solid 4px var(--p-color-text-secondary);
      border-left-color: transparent;
      border-top-color: transparent;
      opacity: 0.5;
    }
  }
  .p-emoji-col-arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(var(--p-emoji-size) * 0.4);
    height: calc(var(--p-emoji-size) * 0.4);
    z-index: 2;
  }
  &:hover{
    background-color: rgba(255,255,255,0.1);
  }
}
.p-emoji-title {
  position: absolute;
  padding: 0 10px 10px 10px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  z-index: 2;
  box-sizing: border-box;
  color: var(--p-color-text-secondary);
  -webkit-user-select: none;
}

.p-emoji-skin-tone-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  border-radius: var(--p-border-radius);
  z-index: 1;
  .p-emoji-skin-tone-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    height: var(--p-header-box-height);
    line-height: var(--p-heade-box-height);
    color: var(--p-color-text-secondary);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--p-color-header);
    -webkit-animation: skin-title-anim-0 0.3s ease both;
    -webkit-user-select: none;
    border-bottom: solid 1px var(--p-color-border);
  }
  .p-emoji-skin-tone-body{
    flex: 1;
    padding:  5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--p-color-skins-background);
    backdrop-filter: saturate(50%) blur(10px);
    -webkit-animation: skin-box-anim-0 0.3s ease both;
  }
  .p-emoji-header-button{
    position: absolute;
    top: 50%;
    right: 0;
    width: var(--p-header-btn-height);
    transform: translate(-5px, -50%);
  }
  .p-emoji-col{
    flex: 0 0 12%;
    &:nth-child(1){
      &:before,
      &:after{
        content: "";
        width: 1px;
        height: 70%;
        position: absolute;
        top: 50%;
        right: 0;
        border-right: solid 1px rgba(255, 255, 255, 0.1);
        transform: translateY(-50%);
      }
      &:after{
        right: -1px;
        border-right: solid 1px rgba(255, 255, 255, 0.2);
      }
    }
  }
  &.hide-anim{
    .p-emoji-skin-tone-title{
      -webkit-animation: skin-title-anim-1 0.3s ease both;
    }
    .p-emoji-skin-tone-body{
      -webkit-animation: skin-box-anim-1 0.3s ease both;
    }
  }
  @-webkit-keyframes skin-title-anim-0{
    0%{transform: translate3d(0,-100%,0);}
    100%{transform: translate3d(0,0,0);}
  }
  @-webkit-keyframes skin-box-anim-0{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  @-webkit-keyframes skin-title-anim-1{
    0%{transform: translate3d(0,0,0);}
    100%{transform: translate3d(0,-100%,0);}
  }
  @-webkit-keyframes skin-box-anim-1{
    0%{opacity: 1;}
    100%{opacity: 0;}
  }
}
