.demo-container {
  --min-width: 410px;
  min-height: 900px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.demo-flex-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.demo-flex-1 {
  padding: 0 10px;
  width: var(--min-width);
  box-sizing: border-box;
}

.demo-button-group {
  display: flex;
}

.demo-button {
  margin: 0;
  padding: 5px 10px;
  background-color: var(--p-color-background);
  color: var(--p-color-text-default);
  border: solid 1px var(--p-color-border);
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
}
.demo-button:first-child {
  border-top-left-radius: var(--p-border-radius);
  border-bottom-left-radius: var(--p-border-radius);
}
.demo-button:last-child {
  border-top-right-radius: var(--p-border-radius);
  border-bottom-right-radius: var(--p-border-radius);
}
.demo-button + .demo-button {
  margin-left: -1px;
}
.demo-button.active {
  border-color: var(--p-color-text-primary);
  color: #fff;
  background-color: var(--p-color-text-primary);
  z-index: 1;
  position: relative;
}

.demo-input-wrapper {
  position: relative;
  background-color: var(--p-color-header);
  border: solid 1px var(--p-color-border);
  border-radius: var(--p-border-radius);
  padding: 10px;
  font-size: 14px;
  word-break: break-all;
}
.demo-input-wrapper .demo-input-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.demo-input-wrapper .demo-word-limit {
  font-size: 13px;
  color: #999;
  font-family: "Arial";
}

.demo-input {
  width: 100%;
  min-height: 8em;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: var(--p-border-radius);
  border: solid 1px var(--p-color-border);
  color: var(--p-color-text-default);
  transition: border 0.1s;
  background-color: var(--p-color-search-input);
  font-size: 16px;
  box-sizing: border-box;
}
.demo-input:empty:before {
  content: attr(placeholder);
  color: var(--p-color-text-secondary);
}
.demo-input:focus-visible {
  box-shadow: none;
  border-color: var(--p-color-text-primary);
  outline: none;
}

.demo-switch-button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 24px 24px;
  -webkit-mask-position: center;
  -webkit-mask-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M4 16.656q0-2.469 0.938-4.656t2.578-3.813 3.828-2.563q2.156-0.969 4.656-0.969t4.656 0.969q2.188 0.938 3.828 2.563t2.578 3.813 0.938 4.656q0 2.5-0.938 4.688t-2.578 3.813-3.828 2.563q-2.156 0.938-4.656 0.938t-4.656-0.938q-2.188-0.938-3.828-2.563t-2.578-3.813-0.938-4.688M16 2q-3.031 0-5.719 1.156-2.656 1.156-4.656 3.141t-3.125 4.672q-1.156 2.656-1.156 5.688 0 3.063 1.156 5.719 1.125 2.688 3.125 4.672t4.656 3.141q2.688 1.156 5.719 1.156t5.719-1.156q2.656-1.156 4.656-3.141t3.125-4.672q1.156-2.656 1.156-5.719 0-3.031-1.156-5.688-1.125-2.688-3.125-4.672t-4.656-3.141q-2.688-1.156-5.719-1.156M10.594 19.406q-0.25-0.469-0.75-0.625t-0.969 0.094q-0.469 0.219-0.625 0.719t0.094 0.969q1.063 2.094 3.109 3.406t4.547 1.313 4.547-1.313 3.109-3.375q0.25-0.469 0.078-0.969t-0.641-0.75q-0.438-0.25-0.938-0.078t-0.75 0.641q-0.75 1.469-2.203 2.375t-3.203 0.906q-1.781 0-3.219-0.906t-2.188-2.406v0M13.344 13.344q0 0.813-0.5 1.406t-1.188 0.594-1.172-0.594-0.484-1.406q0-0.844 0.484-1.422t1.172-0.578 1.188 0.578 0.5 1.422v0M20.344 15.344q0.688 0 1.172-0.594t0.484-1.406q0-0.844-0.484-1.422t-1.172-0.578-1.188 0.578-0.5 1.422q0 0.813 0.5 1.406t1.188 0.594z"></path></svg>');
  background-color: var(--p-color-text-secondary);
  cursor: pointer;
  -webkit-user-select: none;
}

/*# sourceMappingURL=emoji-demo.css.map */
